<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- CSS -->
      <link rel="stylesheet" href="/scripts/pfe-styles/dist/pfe-base.css">
      <link rel="stylesheet" href="/scripts/pfelement/dist/pfelement.min.css">
      <link rel="stylesheet" href="{{ get_url(path="chapeaux.css", trailing_slash=false) }}">
      
      {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body>
        {% block sidebar %}
            <div class="sidebar">
                <div>
                    <div class="sidebar-about">
                        {% block sidebar_about %}
                            <a href="{{ config.base_url }}"><h1>{{ config.title }}</h1></a>
                            {% if config.description %}
                            <p class="lead">{{config.description}}</p>
                            {% endif %}
                        {% endblock sidebar_about %}
                    </div>

                </div>
            </div>
        {% endblock sidebar %}

        <div class="content container">
            {% block content %}
                <div class="posts">
                    {% for page in section.pages | reverse %}
                    <pfe-band color="darker" aside-desktop="right" aside-mobile="bottom" aside-height="full" type="container">
                        <header slot="pfe-band--header">
                          <h2>Chapeaux: Web development tools for the many hats you wear.</h2>
                          <p class="custom-band-summary">Header region, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        </header>
                        <article>
                          <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                            takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                          <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </article>
                        <footer slot="pfe-band--footer">
                          <pfe-cta priority="primary" on="light" pfelement="" class="PFElement" has_link="">
                            <a href="#">Learn more</a>
                          </pfe-cta>
                        </footer>
                        <pfe-card color="base" slot="pfe-band--aside" on="light" pfelement="" class="PFElement" type="container" has_header="" has_body="" has_footer="">
                          <h3 slot="pfe-card--header">Aside: right body bottom, Lighter card</h3>
                          <p>Ut wisi enim ad minim veniam.</p>
                          <pfe-cta slot="pfe-card--footer" on="light" pfelement="" class="PFElement" has_link="">
                            <a href="#">Learn more</a>
                          </pfe-cta>
                        </pfe-card>
                      </pfe-band>
                      <div class="post">
                        <h1 class="post-title">
                          <a href="{{ page.permalink }}">{{ page.title }}</a>
                        </h1>

                        <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
                      </div>
                    {% endfor %}
                </div>
            {% endblock content %}
        </div>
        <script type="module" src="scripts/pfe-band/dist/pfe-band.min.js"></script>
        <script type="module" src="scripts/pfe-card/dist/pfe-card.min.js"></script>
    </body>

</html>